<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pcare.bloodpressure">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <!--血压-->
        <activity android:name="com.pcare.oem.bpm.BPMActivity" />
        <!--血糖-->
        <activity android:name="com.pcare.oem.gls.GlucoseActivity" />
        <activity android:name="com.pcare.oem.bpm.BPMHistoryActivity" />
    </application>

</manifest>